@import '../../styles/shared.scss';


// home is a grid container by setting display: grid
.home {
  // margin-top: $header-nav-height; // margin-top is the top margin
  // margin-left: $sidebar-left-width; // margins to the left
  display: grid; // determines that we are using a css grid structure
  grid: auto / auto; // we want one column and one row and css can figure this out by itself
  justify-content: center;// force the grid to horizontally center its children 
  margin-left: $sidebar-left-width;

}


// different widths all supported configurations
@media all and (min-width: 476px) {
  .responsive-video-grid-container {
    max-width: 240px;
  }
}

@media all and (min-width: 700px) {
  .responsive-video-grid-container {
    max-width: 472px;
  }
}

@media all and (min-width: 900px) {
  .responsive-video-grid-container {
    max-width: 667px;
  }
}

@media all and (min-width: 1096px) {
  .responsive-video-grid-container {
    max-width: 864px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1560px) {
  .responsive-video-grid-container {
    max-width: 1284px;
  }
}